
name: deploy aws lambda

on: 
  push:
    branches: 
      - main
    
    paths:
      - 'Lambda/'

jobs:
  deploy-labmda:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r Lambda/requirements.txt

    - name: Congifure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2

    - name: Deploy to AWS Lambda
      run: |
        cd Lambda
        zip -r function.zip .
        aws lambda update-function-code --function-name MyTestCICDLambda --zip-file fileb://function.zip
